.root {
  width: 100%;
}

.linkInput {
  width: 100%;
  padding: 1rem;
  font-size: x-large;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid var(--text-color);
}
.errorMessage {
  color: var(--error-color);
  font-size: smaller;
}

.actions {
  display: flex;
  justify-content: space-between;
}
