.root {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;

  padding: 2rem;
  margin: 0 0 1rem 0;

  border-bottom: 1px solid var(--text-color);
  background-color: var(--bg-color);
  z-index: 2;
}
