.root {
  width: 100%;
}

.linkInput {
  width: 100%;
  padding: 1rem;
  font-size: x-large;
  text-transform: uppercase;
  font-family: monospace;
}
.errorMessage {
  color: var(--error-color);
}

.actions {
  display: flex;
  justify-content: space-between;
}
