.root {
  padding: 1rem 2rem;
}

.contents {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  list-style: none;
}

.links a {
  margin-left: 2rem;
}
