.root {
  width: 100%;
  padding: 0 1rem;
}
.list {
  margin: 1rem 0;
}
.pagination {
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
}
.listActions {
  width: 100%;
  display: flex;
  justify-content: end;
}
